*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}
/* Global styles or the parent component CSS */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevent scrolling */
}

#root {
  height: 100%;
}